<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="MainMenuWidth" value="300"/>
    <add key="SQLiteDatabasePath" value="data.db"/>
    <add key="UserInfoXmlPath" value="userInfo.xml"/>
    <add key="LogFileFolderPath" value="log"/>
  </appSettings>
  <connectionStrings>
    <add name ="SQLiteDatabase" connectionString="Data Source = data.db; Version = 3; Pooling = True; Max Pool Size = 100;"/>
  </connectionStrings>
</configuration>